@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --background-color: white;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #1a1a1a;
  --text-color: white;
  background-color: var(--background-color);
  color: var(--text-color);
}